<section id="footer">
    <div class="footer container">
        <div class="logojel">
            <img src="/img/gomba_egyszeru.png" />
        </div>
        <div class="social-icon">
            <div class="social-item">
                <a href="https://www.facebook.com/himzesgomban">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="20" height="20"
                    viewBox="0 0 226 226"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,226v-226h226v226z" fill="none"></path><g fill="#ffffff"><path d="M113,0c-62.41077,0 -113,50.58923 -113,113c0,56.65646 41.73177,103.42977 96.11085,111.60054v-81.65554h-27.96315v-29.70162h27.96315v-19.76631c0,-32.72654 15.94169,-47.08623 43.13992,-47.08623c13.02108,0 19.91408,0.96485 23.17369,1.40815v25.92915h-18.54938c-11.54338,0 -15.57662,10.94362 -15.57662,23.28669v16.23723h33.83915l-4.58954,29.70162h-29.24962v81.89892c55.15269,-7.49277 97.70154,-54.64854 97.70154,-111.85262c0,-62.41077 -50.58923,-113 -113,-113z"></path></g></g></svg></a>
            </div>
            <div class="social-szoveg">
                <h3><b>Tel.:</b> +36 20 555 2036</h3>
                <h3>|</h3>
                <h3><b>E-mail:</b> ajanlat@himzesgomban.hu</h3>
                <h3>|</h3>
                <h3><b>Cím:</b> 2217 Gomba, Fáy András u. 7.</h3>
            </div>
        </div>
    </div>
    <p>Copyright @ 2020 Ágnes Ferenczi All rights reserved</p>
    </div>
</section>
{{ $app := .Site.Data.webpack.app }} 
{{ with $app.js }}
<script src="{{ relURL . }}"></script>
{{ end }}