
<section id="header">
	<div class="header container">
		<div class="nav-bar">
			<div class="brand">
				<a href="/">
					<img src="/img/gomba_egyszeru.png">
					<h1>Hímzés Gombán</h1>
				</a>
			</div>
			<div class="nav-list">
				<div class="menu">
					<div class="bar"></div>
				</div>
				<ul>
					<li><a href="/">Főoldal</a></li>
					<li><a href="/bemutatkozas">Bemutatkozás</a></li>
					<li><button onclick="myDrop()" class="himzes">Hímzések</button>
						<div class="dropdown" id="drop_menu">
							<ul>
								<li><a href="https://priceless-mccarthy-2c94da.netlify.app" target="_blank">Óvodai jelek</a></li>
								<li><a href="/tarisznya">Tarisznyák</a></li>
								<li><a href="/cimerek">Címerek</a></li>
								<li><a href="/magyar_jelkepek">Magyar jelképek</a></li>
								<li><a href="/egyeb_termekek">Egyéb termékek</a></li>
								<li><a href="/referenciak">Referenciák</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/ajanlatkeres">Árajánlatkérés</a></li>
					<li><a href="/kapcsolat">Kapcsolat</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
