<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="/">
                    <img src="./img/gomba_egyszeruovodai.png">
                    <h1>Óvodai jel</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="menu">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="/">Főoldal</a></li>
                    <li><button onclick ="myDrop()" class="himzes">Óvodai jelek</button>
                        <div class="dropdown" id="drop_menu">
                            <ul>
                                <li><a href="/ovodai_aa">A, Á</a></li>
                                <li><a href="/ovodai_b">B</a></li>
                                <li><a href="/ovodai_ccs">C, CS</a></li>
                                <li><a href="/ovodai_d">D</a></li>
                                <li><a href="/ovodai_ee">E, É</a></li>
                                <li><a href="/ovodai_f">F</a></li>
                                <li><a href="/ovodai_ggy">G, Gy</a></li>
                                <li><a href="/ovodai_h">H</a></li>
                                <li><a href="/ovodai_i">I</a></li>
                                <li><a href="/ovodai_k">K</a></li>
                                <li><a href="/ovodai_l">L</a></li>
                                <li><a href="/ovodai_m">M</a></li>
                                <li><a href="/ovodai_nny">N, Ny</a></li>
                                <li><a href="/ovodai_oo">O, Ö</a></li>
                                <li><a href="/ovodai_p">P</a></li>
                                <li><a href="/ovodai_r">R</a></li>
                                <li><a href="/ovodai_ssz">S, Sz</a></li>
                                <li><a href="/ovodai_t">T</a></li>
                                <li><a href="/ovodai_uu">U, Ü</a></li>
                                <li><a href="/ovodai_v">V</a></li>
                                <li><a href="/ovodai_zzs">Z, Zs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/arak">Árak</a></li>
                    <li><a href="https://priceless-mccarthy-2c94da.netlify.app/">Egyéb hímzések</a></li>
                    <li><a href="/ajanlatkeres">Árajánlatkérés</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>