    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="./index.home.html">
                        <img src="./images/gomba_egyszeru.png">
                        <h1>Hímzés Gombán</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="menu">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="./index.home.html">Főoldal</a></li>
                        <li><a class="himzes" href=>Óvodai jelek</a>
                            <div class="dropdown">
                                <ul>
                                    <li><a href="./tarisznya.html">A, Á</a></li>
                                    <li><a href="./cimerek.html">B</a></li>
                                    <li><a href="./magyarjelk.html">C, CS</a></li>
                                    <li><a href="./egyeb_termekek.html">D</a></li>
                                    <li><a href="./referenciak.html">E, É</a></li>
                                    <li><a href="./referenciak.html">F</a></li>
                                    <li><a href="./referenciak.html">G, Gy</a></li>
                                    <li><a href="./referenciak.html">H</a></li>
                                    <li><a href="./referenciak.html">I</a></li>
                                    <li><a href="./referenciak.html">J</a></li>
                                    <li><a href="./referenciak.html">K</a></li>
                                    <li><a href="./referenciak.html">L</a></li>
                                    <li><a href="./referenciak.html">M</a></li>
                                    <li><a href="./referenciak.html">N, Ny</a></li>
                                    <li><a href="./referenciak.html">O, Ö</a></li>
                                    <li><a href="./referenciak.html">P</a></li>
                                    <li><a href="./referenciak.html">R</a></li>
                                    <li><a href="./referenciak.html">S, Sz</a></li>
                                    <li><a href="./referenciak.html">T</a></li>
                                    <li><a href="./referenciak.html">U, Ü</a></li>
                                    <li><a href="./referenciak.html">V</a></li>
                                    <li><a href="./referenciak.html">Z</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./index.home.html"></a>Egyéb hímzések</li>
                        <li><a href="./index.arajanlat.html">Árajánlatkérés</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>