@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:wght@200&family=Pangolin&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Itim', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Pangolin', cursive;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    height: 100%;
}
/*Menüsor*/

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: #0a434c;
    transition: .3s ease background-color;
}

#header .brand {
    width: 100px;
}

#header .brand img {
    width: 60px;
}

#header .brand h1 {
    text-decoration: none;
    color: white;
    position: absolute;
    display: inline;
    margin-top: 10px;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list>ul {
    list-style: none;
    position: absolute;
    background-color: #0a434c;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: .5s ease left;
}

#header .himzes{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    background-color: #0a434c
}

#header .dropdown {
    display: none;
    list-style: none;
    z-index: 1;
    justify-content: center;
    margin-left: 50px;
    background: #0a434c;
}

#header .dropdown.show {
    display: block;
}


#header ul li ul {
    list-style: none;
}

#header .nav-list ul.active {
    left: 25%;
    top: 45px;
}

#header .nav-list ul a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul .himzes {
    cursor: default;
}

#header .nav-list ul a:hover {
    color:  #9c1414;
}

#header .nav-list ul .himzes:hover {
    color: #9c1414;
}

#header .menu {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    transform: scale(.8);
    margin-right: 15px;
}

#header .menu:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

#header .menu .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .menu .bar::after,
#header .menu .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .menu .bar::after {
    top: 8px;
}

#header .menu .bar::before {
    bottom: 8px;
}

#header .menu.active .bar::before {
    bottom: 0;
}

#header .menu.active .bar::after {
    top: 0;
}

#header h1 {
    color: white;
}
/*Főoldal része*/

#hero {
    background-image: url(/img/ovodai_borito.jpg);
    background-size: cover;
    background-position: top left;
    position: relative;
    z-index: 1;
    padding-top: 35px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero .hero {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#hero .hero-keret{
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 95%;
    padding: 15px;
}

#hero .hero-keret::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .6;
    z-index: -1;
}


#hero h1 {
    margin: auto;
    display: block;
    width: fit-content;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    color: #0a434c;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 600;
}

#hero hr {
    border-color: #0a434c;
}

#hero h2 {
    display: block;
    width: fit-content;
    font-size: 0.9rem;
    color: #0a434c;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#hero h3 {
    display: block;
    width: fit-content;
    font-size: 0.9rem;
    color: #0a434c;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 40px;
}

#hero .call {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: #9c1414;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 5px;
    transition: .5s ease;
    transition-property: background-color, color;
    margin: 5px;
    box-shadow: 1px 1px 1px black;
    text-shadow: 2px 2px 2px #333;
}

/*Árak része*/

#arak {
    position: relative;
    min-height: 100vh;
    padding: 30px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/img/ovodai_boritoenyhe.jpg");
    background-size: cover;
}

#arak .arak-header {
    margin: 0;
    padding-top: 90px;
    padding: 20px;
    max-width: 100%;
    color: white;
}

#arak .arak-header h2 {
    margin-bottom: 30px;
    margin: 0;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2rem;
    padding-top: 100px;
}

#arak .arak-header p {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: center;
}

#arak .arak-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arak-text {
    width: 100%;
    padding: 30px;
    justify-content: center;
    background-color: #0a434c;
    margin-bottom: 40px;
}

.arak-text h4 {
    font-size: 22px;
    color: white;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.arak-text p {
    color: white;
    margin: 5px;
}

.bemutat-text a{
    display: inline-block;
    color: white;
    background-color: #9c1414;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .5s ease;
    transition-property: background-color, color;
    margin: 5px;
    box-shadow: 1px 1px 1px black;
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    margin-top: 35px;
    padding: 10px;
}


#arak .bemutat-text {
    color: #0a434c;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    position: relative;
    z-index: 1;
    padding: 30px;
}

#arak .bemutat-text p{
    margin: 4px;
}

#arak .bemutat-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .4;
    z-index: -1;
}


/*Bemutatkozás rész*/

#bemutat {
    background-image: url(/img/ovodai_borito.jpg);
    background-size: cover;
    width: 100%;
    padding: 150px 20px;
}

#bemutat .bemutat-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-align: center;
}

#bemutat .bemutat-container h4 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

#bemutat .bemutat-text {
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 95%;
    padding: 15px;
    position: relative;
    z-index: 1;
}

#bemutat .bemutat-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .6;
    z-index: -1;
}

#bemutat .bemutat-text p {
    text-align: center;
    color: #575046;
    margin-bottom: 20px;
}

#bemutat .call {
    display: block;
    padding: 10px 10px;
    color: white;
    background-color: #a48d64;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    box-shadow: 1px 1px 1px black;
    width: 260px;
    margin: 0 auto;
}
/*Hímzésen belüli menüpontok/*

/*Hímzések header részei*/

#references .references-header {
    background-color: white;
    margin: 0;
    padding: 20px;
    padding-top: 150px;
    max-width: 100%;
}

#references .references-header h2 {
    margin-bottom: 30px;
    margin: 0;
    color: #0a434c;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2rem;
}

#references .references-header p {
    color: #0a434c;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: center;
}

#references h5 {
    color: #0a434c;
    font-size: 0.7rem;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: center;
}

#references hr {
    border-color: #0a434c;
    fill: #a48d64;
}
/*Referenciák*/

.referenc-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 50px;
}

.referenc-gallery>.referenc-image {
    flex: 20%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 4px;
}

.referenc-gallery>.referenc-image:hover>a,
.referenc-gallery>.referenc-image:focus>a {
    transform: scale(1.1);
    opacity: .9;
}

.referenc-gallery>.referenc-image>a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #6a5c4a;
    background-position: center;
    transition: all .5s ease-out;
    transform: scale(1);
}

.referenc-gallery>.referenc-image>a img {
    width: 100%;
}
/*Címerek képei*/

/*.static-image-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 50px;
}

.static-image-grid>a {
    flex: 60%;
    height: 20rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 4px;
}


.static-image-grid>a>span {
    z-index: 1;
    font-size: 0.7rem;
    margin: 50px;
    text-align: center;
    justify-content: center;
    text-shadow: 0.5px 1px black;
}

.static-image-grid>a>label {
    z-index: 1;
    font-size: 0.6rem;
    text-transform: lowercase;
}*/

.cimer-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 50px;
}

.cimer-gallery>a {
    flex: 20%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 4px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all .5s ease-out;
    background-position: center;
    transform: scale(1);
}

.cimer-gallery>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cimer-gallery>a::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cimer-gallery>a>span {
    z-index: 1;
    font-size: 0.7rem;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 50px;
    color: white;
    text-shadow: 0.5px 1px black;
}
/*Magyar jelképek képei*/

.magyar-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 50px;
}

.magyar-gallery>a {
    flex: 20%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 4px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all .5s ease-out;
    background-position: center;
    transform: scale(1);
}

.magyar-gallery>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magyar-gallery>a::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.magyar-gallery>a>span {
    z-index: 1;
    font-size: 0.7rem;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 50px;
    color: white;
    text-align: center;
    text-shadow: 0.5px 1px black;
}
/*Tarisznyák képei*/

.index-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 50px;
    justify-content: center;
}

.index-gallery>.gallery-image {
    flex: 40%;
    height: 10rem;
    max-width: 10rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 4px;
}

.index-gallery>.gallery-image:hover>a,
.index-gallery>.gallery-image:focus>a {
    transform: scale(1.1);
    opacity: .9;
}

.index-gallery>.gallery-image>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #6a5c4a;
    color: white;
    background-position: center;
    background-size: cover;
    transition: all .5s ease-out;
    transform: scale(1);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.index-gallery>.gallery-image>a::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.index-gallery>.gallery-image>a>span {
    z-index: 1;
    font-size: 0.7rem;
    margin: 50px;
    text-align: center;
    justify-content: center;
    text-shadow: 0.5px 1px black;
}

.index-gallery>.gallery-image>a>label {
    z-index: 1;
    font-size: 0.6rem;
    text-transform: lowercase;
}

.index-gallery>.gallery-image>a>svg {
    display: none;
}

.index-gallery>.gallery-image:hover>a svg {
    z-index: 0;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 1;
}

.index-gallery>.gallery-image>.nyers {
    background-image: url("/img/len_csiga.jpg");
}

.index-gallery>.gallery-image>.jel {
    background-image: url("/img/tar_vuk.jpg");
}

.index-gallery>.gallery-image>.jel_evszam {
    background-image: url("/img/tar_kocka2010.jpg");
}

.index-gallery>.gallery-image>.jel_evszam_csoport {
    background-image: url("/img/tar_suni_cs_09.jpg");
}

.index-gallery>.gallery-image>.sajatjel {
    background-image: url("/img/szivecske_lajos.jpg");
}

.index-gallery>.gallery-image>.sajatlogo {
    background-image: url("/img/evaneni.jpg");
}

.index-gallery>.gallery-image>.virag {
    background-image: url("/img/fehervirag2011.jpg");
}

.index-gallery>.gallery-image>.iskolaneve {
    background-image: url("/img/jag2011.jpg");
}
/*Egyéb termékek képei*/

.index-gallery>.gallery-image>.fulbevalok {
    background-image: url("/img/virag_rozsaszin.jpg");
}

.index-gallery>.gallery-image>.karacsonyfadisz {
    background-image: url("/img/hopihe.jpg");
}

.index-gallery>.gallery-image>.hangulatjelek {
    background-image: url("/img/mosolygo.jpg");
}

.index-gallery>.gallery-image>.kulcstarto {
    background-image: url("/img/kulcs1a.jpg");
}

.index-gallery>.gallery-image>.aldas {
    background-image: url("/img/jaszsagi.jpg");
}

.index-gallery>.gallery-image>.torolkozo {
    background-image: url("/img/torolkozo_legjobb.jpg");
}
/*Ajánlatkérés*/

#ajanlat {
    position: relative;
    min-height: 100vh;
    padding: 30px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/img/ovodai_boritoenyhe.jpg");
    background-size: cover;
}

#ajanlat .ajanlat-header {
    max-width: 800px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;
}

#ajanlat .ajanlat-header h3 {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

#ajanlat .ajanlat-header p {
    font-size: 1rem;
    color: white;
}

#ajanlat .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactForm {
    width: 100%;
    padding: 30px;
    justify-content: center;
    background-color: #0a434c;
    margin-bottom: 40px;
}

.contactForm h4 {
    font-size: 22px;
    color: white;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.contactForm .inputBox .kerdo,
.contactForm .inputBox .option,
.contactForm .inputBox .opovoda {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .kerdo,
.contactForm .inputBox .munka {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid white;
    color: black;
    outline: none;
    resize: none;
    background-color: white;
}

.contactForm .inputBox .szoveg {
    left: 0;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    padding-bottom: 0;
}

.contactForm .inputBox .radszoveg{
    left: 0;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    padding-bottom: 0;
}


.contactForm .inputBox .ovoda,
.contactForm .inputBox .termek,
.contactForm .inputBox .sajat {
    margin: 3px;
    color: white;
}

.contactForm .inputBox .ovodaiselect,
.contactForm .inputBox .egyebselect {
    display: none;
    width: 100%;
}


.inputBox > .select2-container {
    display: block;
}

.contactForm .inputBox .meret{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input[type="file"] {
    color: white;
    background-color: #0a434c;
    border: white solid 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contactForm .textszov {
    color: white;
    font-size: 16px;
}

.contactForm > ol {
    padding-left: 0;
}

.contactForm .preview > .preview-text {
    line-height: 32px;
    padding-left: 20px;
    color: white;
    font-size: 10px;
}

.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: #9c1414;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    box-shadow: 1px 1px 1px black;
}

#ajanlat .thanks{
    background-color: green;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#ajanlat .thanks .p{
    color: white;
}


#ajanlat .kapcsolat{
    display: flex;
    flex-direction: column;
    left: 0;
    position: relative;
    z-index: 1;
    padding: 30px;
    width: 100%;
}
#ajanlat .Ajanlatinfo {
    color: #0a434c;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    position: relative;
    z-index: 1;
    padding: 30px;
}

#ajanlat .Ajanlatinfo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .4;
    z-index: -1;
}

#ajanlat .Ajanlatinfo h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
}

#ajanlat .Ajanlatinfo h2 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

#ajanlat .Ajanlatinfo p {
    font-size: 0.9rem;
}

#ajanlat .contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    color: white;
    margin-top: 50px;
    font-weight: 700;
}

#ajanlat .icon {
    display: flex;
}

#ajanlat .icon span {
    margin-left: 10px;
}

#ajanlat .contactInfo .contactmode {
    display: inline;
}

#ajanlat .contactInfo p {
    position: relative;
    display: flex;
    left: 37px;
    color: white;
    margin-bottom: 30px;
}

#ajanlat .contactInfo .tel{
    position: relative;
    display: flex;
    left: 37px;
    color: white;
    margin-bottom: 30px;
    text-decoration: none;
}

#ajanlat .contactInfo .email{
    position: relative;
    display: flex;
    left: 37px;
    color: white;
    margin-bottom: 30px;
    text-decoration: none;
}

/*Footer*/

#footer {
    background-color: #0a434c;
}

#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

#footer .logojel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    justify-content: center;
}

#footer .social-icon {
    margin: 0 auto;
}

#footer .social-item {
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#footer .social-szoveg {
    display: block;
    display: flex;
    justify-content: center;
}

#footer h3 {
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: inline;
    margin: 3px;
}

#footer p {
    color: white;
    font-size: 0.5rem;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}

#footer .tel{
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: inline;
    margin: 3px;
    text-decoration: none;
}
#footer .email{
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: inline;
    margin: 3px;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    #hero {
        background-image: url(/img/ovodai_borito.jpg);
        background-position: top center;
        padding-top: 50px;
    }
    #header .nav-list ul.active {
        left: 200px;
    }
    #hero h1 {
        font-size: 1.5rem;
    }
    #hero h2 {
        font-size: 1rem;
    }
    #hero .call {
        font-size: 1rem;
    }
    #hero .ajanlat {
        font-size: 1rem;
        margin-top: 20px;
        margin: 20px;
    }
    .index-gallery>.gallery-image {
        flex: 20%;
        height: 10rem;
    }
    .referenc-gallery>.referenc-image {
        flex: 20%;
        height: 10rem;
    }
    .magyar-gallery>a {
        flex: 20%;
        height: 10rem;
    }
    .cimer-gallery>a {
        flex: 20%;
        height: 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    #header .nav-bar {
        left: 1000px;
    }
    #header .nav-list ul {
        width: 100%;
    }
    #header .menu {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }

    #header .dropdown{
        width: 400px;
        margin-left: 0;
        position: absolute;
    }

    #header .himzes{
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
    }

    #header .nav-list ul li a {
        font-size: 0.6rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    #hero {
        background-image: url(/img/ovodai_borito.jpg);
        background-size: cover;
    }
    #hero .hero {
        padding-top: 170px;
    }

    #hero h1 {
        font-size: 1.5rem;
    }
    #hero h2 {
        font-size: 1rem;
    }
    #hero .call {
        font-size: 1rem;
    }
    #hero .ajanlat {
        font-size: 1rem;
        margin-top: 20px;
        margin: 20px;
    }
    .index-gallery>.gallery-image {
        flex: 10%;
        height: 10rem;
    }
    .referenc-gallery>.referenc-image {
        flex: 10%;
        height: 10rem;
    }
    .magyar-gallery>a {
        flex: 10%;
        height: 10rem;
    }
    .cimer-gallery>a {
        flex: 10%;
        height: 10rem;
    }
    #arak {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    #arak .arak-container {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #arak .bemutat-text {
        margin-left: 50px;
    }

    #ajanlat {
        position: relative;
        padding: 50px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #ajanlat .contact-container {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #ajanlat .Ajanlatinfo {
        margin-left: 30px;
    }
    #ajanlat .contactInfo {
        display: flex;
        padding-left: 30px;
    }
    #contact {
        position: relative;
        min-height: 100vh;
        padding: 50px;
        display: flex;
    }
    #contact .contact-container {
        flex-direction: row;
    }
    #contact .contact-container .map iframe {
        width: 600px;
        margin-left: 50px;
    }
    #contact .contactInfo {
        display: flex;
    }
}