{{ define "main" }}

<section id="bemutat">
    <div class="bemutat-container">
        <h3 class="section-title">Bemutatkozás</h3>
        <h4>Egyedi hímzések, megrendelésre</h4>
    </div>
    <div class="bemutat-text">
        <p>Több évtizedes tapasztalattal állunk rendelkezésére.</p>

        <p>Számítógépvezérlésű automata hímzőgépekkel elkészítjük a kért hímzést: céges logót pólóra, munkaruhára (készárura és szabványra is), címert zászlóra, sportruházatra, díszítő motívumokat gyerekruhákra, divatárura.</p>


        <p>Saját termékeinket is ajánljuk figyelmébe:</p>

        <p>kínálunk felvarrható óvodai (bölcsődei) jeleket háromféle méretben, akár egyedi igények szerint is. Készítünk ballagási tarisznyákat, különböző felvarrható címereket és logókat.</p>
        <a href="tel:+36205552036" type="button" class="call" style="text-decoration: none;">Tel.: +36 20 555 2036</a>
    </div>
</section>

{{end}}