{{ define "main" }}

<section id="references">
  <div class="references-header">
      <h2 class="section-title">Óvodai jelek - F</h2>
      <hr>
      <p>Esztétikus, könnyen kezelhető, jól mosható jelek, fehér selyemre hímezve, 3x3 cm-es, 5x5 cm-es és 10x10 cm-es méretben. Néhány öltéssel felvarrva egyszerűen rögzíthetők bármilyen felsőruházatra, törülközőre, ágyneműre, fésűtartóra, ballagási tarisznyára, stb.</p>
      <h5>Árainkat ÁFA nem terheli.</h5>
  </div>
</section>

{{ partial "image-grid" .Params.galleries }}

{{ end }}