{{ define "main" }}
<section id="references">
    <div class="references-header">
        <h2 class="section-title">Referenciák</h2>
        <hr>
        <p>Eddigi munkáink közül néhány:</p>
    </div>
</section>
<section class="referenc-gallery">
    <div class="referenc-image">
        <a href="./images/bolyai.jpg">
            <img src="./images/bolyai.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/bushcraft.jpg">
            <img src="./images/bushcraft.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/eu2011_tarisznya.jpg">
            <img src="./images/eu2011_tarisznya.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/godolloi.jpg">
            <img src="./images/godolloi.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/interwest.jpg">
            <img src="./images/interwest.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/koszorus_cimer.jpg">
            <img src="./images/koszorus_cimer.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/kozter_gyomro.jpg">
            <img src="./images/kozter_gyomro.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/orszaghaz.jpg">
            <img src="./images/orszaghaz.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/polgari.jpg">
            <img src="./images/polgari.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/pulyka.jpg">
            <img src="./images/pulyka.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/szazhalombattai.jpg">
            <img src="./images/szazhalombattai.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/tibolddaroc.jpg">
            <img src="./images/tibolddaroc.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/vasnyul.jpg">
            <img src="./images/vasnyul.jpg" />
        </a>
    </div>
    <div class="referenc-image">
        <a href="./images/csodaszarvas.jpg">
            <img src="./images/csodaszarvas.jpg" />
        </a>
    </div>
</section>
{{end}}